/* some style */


.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.state-boundary {
    fill: none;
    stroke: #fff;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.fill {
    fill: #fff;
}

.bubble {
    fill: brown;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
    z-index:1;
}
.bubble :hover {
    stroke: #000;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .8;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

.land {
  fill: LightGray;
  fill-opacity:12
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .1px;
}

.borough {
  fill-opacity: 0.2;
  stroke: white;
  stroke-width: 0.5px;
  z-index: 0;

}

.staten {}
.bronx {}
.queens {}
.brooklyn {}
.manhattan {}
