;; Analyzed by ClojureScript 1.7.170
{:use-macros nil, :excludes #{}, :name drugsfromdirt.db, :imports nil, :requires nil, :uses nil, :defs {dbstart {:name drugsfromdirt.db/dbstart, :file "src/drugsfromdirt/db.cljs", :line 4, :column 1, :end-line 4, :end-column 13, :meta {:file "/Users/zachpowers/Documents/git/Websites/dfd_updated_site/cljs/src/drugsfromdirt/db.cljs", :line 4, :column 6, :end-line 4, :end-column 13}}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:normalized :A47934 :top-level-navigation :samplename :actinomycin :activesample :totalreads :A54145 :size :Longitude :Latitude :countdata :aculeximycin :activemolecule :activemap :molecules :A40926}, :order [:countdata :molecules :activemolecule :activesample :top-level-navigation :normalized :activemap :samplename :Longitude :Latitude :totalreads :size :A40926 :A47934 :A54145 :actinomycin :aculeximycin]}, :doc nil}